body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #fff;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  margin: 0px;
}

header h4 {
  margin: 0px;
  margin-top: 5px;
  word-spacing: 3px;
  color: #aaa;
}
header a {
  color: #aaa;
  text-decoration: none;
}

header img {
  margin-right: 10px;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

.news-item {
  border-bottom: 1px solid #555;
  padding: 10px 0;
}

.news-item h2 {
  margin: 0;
}

.news-item a {
  color: #fff;
  text-decoration: none;
}

.news-item a:hover {
  text-decoration: underline;
}

.metadata {
  color: #ccc;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 0 10px;
  }
}
