{{define "pagecontent"}}
	{{range .}}
	  <div class="news-item">
	    <h2><a href="{{ .PostLink }}">{{ .Title }}</a></h2>
	    <p class="metadata">by {{ .Author }} | 2 hours ago | 100 comments</p>
	  </div>
	{{end}}
{{end}}
