{{define "comment"}}
  <div style="margin-left: {{ .Indentation }}px" class="comment">
    <p class="metadata">by {{ .Author }} | 2 hours ago</p>
    <article>{{ .Text }}</article>
  </div>
  <div class="replies">
    {{template "comments" indent .Replies}}
  </div>
{{end}}
