{{define "comment"}}
  <div style="margin-left: {{ .Indentation }}px" class="comment">
    <p class="metadata creation-date">{{ .CreationDate }}</p>
    <p class="metadata">by {{ .Author }}</p>
    <article>{{ .Text }}</article>
  </div>
  <div class="replies">
    {{template "comments" indent .Replies}}
  </div>
{{end}}
