{{define "pagecontent"}}
  <div class="userpage-box">
    <div class="userpage-header">
      <h2> {{ .Username }} </h2>
      {{ if .LogoutButtonActive }}
        <a class="logout-button" href="/logout">Logout</a>
      {{ end }}
    </div>

    <p>There will be description support someday...</p>
    <br/>
    <h2 style="margin: 1% 0%">User activity:</h2>
    <div class="userpage-line"></div>
    {{template "article_list" .TextPosts}}
  </div>
{{end}}
